</body>
     
     <!-- Footer -->
     <!--<footer class="footer">-->

        <!-- Copyright -->
     <!--      <div class="footer-copyright text-center py-3">© 2018 Copyright: Online High Voltage Lab-->
                
     <!--      </div>-->
        <!-- Copyright -->

     <!--</footer>-->
     <!-- Footer -->
  
</html>