<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project_1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
     <div class="container-fluid" style="margin-top:20px">
        <div class="well well-lg">
           <div class="row">
           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" > 
           <button type="button" class="btn btn-warning btn-lg " style="margin-top:10px;margin-bottom: 10px;" onclick="showDiv1()">Control Panel Camera</button>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
           <button type="button" class="btn btn-warning btn-lg " style="margin-top:10px;margin-bottom: 10px;margin-left: 10px" onclick="showDiv()">Tester Cell Camera</button>
           </div>
           </div>
           <script type="text/javascript">
               var count=0;
               function showDiv() {
               if (count%2==0){
                     document.getElementById('welcomeDiv').style.display = "block";  
                }
               else{
               document.getElementById('welcomeDiv').style.display = "none";  
                }
               count++;
               console.log(count);
               }
           </script>
           <div class="row">
           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
           <div id="welcomeDiv1"  style="display:none;" class="answer_list" >
           <iframe width="560" height="315"
           src="https://www.youtube.com/embed/Mf0tBswZp7o" frameborder="0"
           allow="autoplay; encrypted-media" allowfullscreen></iframe>
           </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
           <div id="welcomeDiv"  style="display:none;" class="answer_list" >
                <iframe width="560" height="315"
                src="https://www.youtube.com/embed/cWZxf4bD7CQ" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
           </div>
           </div>
           </div>
           <script type="text/javascript">
               var count1=0;
               function showDiv1() {
               if (count1%2==0){
               document.getElementById('welcomeDiv1').style.display = "block";  
               }
               else{
               document.getElementById('welcomeDiv1').style.display = "none";  
               }
            count1++;
            console.log(count);
            }
        </script>
        </div>
       </div>
</body>
</html>
