<% include ./partials/header %>

<div id="contact" class="container">
  <h1 class="text-center">Contact</h1>
  <br>
  

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      
        <p><img class="img-responsive" src="http://www.nitdgp.ac.in/ee/n_k_roy/n_k_roy.jpg"></p>
      
    </div>
    
    <div class="col-md-6">
      
      <p>Problem? Feel free to contact me!!</p>
      <p><span class="glyphicon glyphicon-tag"></span>Name: Dr. Nirmal Kumar Roy (Professor)</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>National Institute of Technology, Durgapur, India</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: +91 9434788042</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: nirmalkumar.roy@ee.nitdgp.ac.in</p>
      
    </div>
  </div>
  </div>

</body>
     
     <!--<footer  style="bottom:0" class="text-center">-->
       
         
     <!--  <p>Developed and Maintained By High Voltage Lab Project Team, NIT Durgapur (2018-19)</p> -->
     <!--</footer>-->
  
</html>