<% include ./partials/header %>
     <div class="container" style="background:#3FEEE6;margin-top:20px;margin-bottom:20px;border: 6px solid #17202A;align:justify">
         <h1 style="color:red;" class="text-center"><strong><u>Instructions for the Experiment</u></strong></h1>
         <br>
         <h2 style="" class="text-center"><strong>Study of Breakdown Voltage Strength test of air under different pressure</strong></h3>
         <div>
          <!--<ul style="list-style-type:none">-->
                 <strong style="letter-spacing: 5px;font-size: 20px;color: #111">Experiment No : </strong><p style="font-size:16px; display:inline-block">2</p>
                 <br>
                 <strong style="letter-spacing: 5px;font-size: 20px;color: #111">Title : </strong><p style="font-size:16px; display:inline-block">Study of Breakdown Voltage Strength test of air under different pressure</p>
                 <br>
                 <strong style="letter-spacing: 5px;font-size: 20px;color: #111">Objective : </strong><p style="font-size:16px; display:inline-block">Study the principle of breakdown in vacuum and the effect of Pressure on Breakdown Voltage of air medium.</p>
                 <br>
                 <strong style="letter-spacing: 5px;font-size: 20px;color: #111">Apparatus used : </strong><p style="font-size:16px; display:inline-block"></p>
           <!--</ul>           -->
                   <table class="table table-hover table-bordered table-responsive table-condensed">
                      <thead>
                         <tr>
                            <th style="font-size: 15px;color: #111">Serial No</th>
                            <th style="font-size: 15px;color: #111">Name of Apparatus</th>
                            <th style="font-size: 15px;color: #111">Quantity</th>
                            <th style="font-size: 15px;color: #111">Specification</th>
                         </tr>
                      </thead>
                     <tbody>
                         <tr>
                            <td style="letter-spacing: 3px;font-size: 15px;color: #111">1</td>
                            <td>High voltage testing transformer</td>
                            <td>1</td>
                            <td>0-100kV</td>
                         </tr>
                         <tr>
                             <td style="letter-spacing: 3px;font-size: 15px;color: #111">2</td>
                             <td>Flexi glass cylinder</td>
                             <td>1</td>
                             <td>-</td>
                         </tr>
                         <tr>
                             <td style="letter-spacing: 3px;font-size: 15px;color: #111">3</td>
                             <td>Air compressor</td>
                             <td>1</td>
                             <td>-</td>
                         </tr>
                                                  <tr>
                             <td style="letter-spacing: 3px;font-size: 15px;color: #111">4</td>
                             <td>Vacuum Pump</td>
                             <td>1</td>
                             <td>-</td>
                         </tr>
                    </tbody>
                 </table>
                 
                 <h3><strong>Theory:</strong></h3>
                 <div>
                       <p><img src="https://drive.google.com/uc?id=1Ya2zrqrCicBSfrS6LqaalHdng-RIjvXb" class="img-responsive"></p>
                 </div>
                 
                    <div>
                        <p style="font-size:16px;">This equation shows a relationship between V and pd, and implies that the breakdown
                        voltage varies as the product pd varies. Knowing the nature of functions f1 and f2 we can rewrite as:</p>
                    </div>
                     <div>
                        <p style="font-size:16px;" align="center">V = f(pd)</p>
                    </div>
                    <div>
                        <p style="font-size:16px;">This equation is known as Paschen's law
                        and has been experimentally established for many gases, and it is a very important law in
                        high voltage engineering.</p>
                    </div>
                    <div>
                        <p style="font-size:16px;">The Paschen's curve, the relationship between V and pd is shown in Figure 1 for three 
                        gases CO2, air and H2. It is seen that the relationship between V and pd is not linear and has a minimum value for 
                        any gas.</p>
                    </div>
                    <div>
                        <p style="font-size:16px;">The existence of a minimum sparking potential in Paschen's curve may be explained as follows:</p>
                    </div>
                    <div>
                        <p style="font-size:16px;">For values of pd > (pd)min, electrons crossing the gap make more frequent collisions with gas 
                        molecules than at (pd)min, but the energy gained between collisions is lower. Hence, to maintain the desired ionization more 
                        voltage has to be applied. For pd < (pd)min, electron may cross the gap without even making a collision or making only 
                        less number of collisions. Hence, more voltage has to be applied for breakdown to occur.</p>
                    </div>
                    <div class="row">
                     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                       <p><img src="https://drive.google.com/uc?id=1v26vTnAxwnB0pMoLjjdWxtZUUtRETIDn" class="img-responsive"></p>
                     </div>
                     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                       <p><img src="https://drive.google.com/uc?id=1i0T0PTC-RIKO964Q8UPTr4d102ljOBkj" class="img-responsive"></p>
                     </div>
                     </div>
                     <div>
                        <p style="font-size:16px;">However, in some gases Paschen's law is not strictly obeyed, and sparking potentials at
                        larger spacings for a given value of pd are higher than at lower spacings for the same pd value. </p>
                    </div>
                    <div>
                        <p style="font-size:16px;">This is attributed to the loss of electrons from the gap due to diffusion.</p>
                    </div>
                    <div>
                        <p style="font-size:16px;">The sparking potentials for uniform field gaps in air, CO2 and H2 at 20oC are shown in Figure 1. 
                        It has been observed that the cathode materials also affect the breakdown values. This is shown in Figure 2 for cathodes 
                        made of barium, magnesium and aluminium.</p>
                    </div>
                <h3><strong>Procedure: </strong></h3>
                    <div>
                      <ul>
                         <li style="font-size:16px;">Take out the corona cage from the flexi glass cylinder by loosening the top screws.</li>
                         <li style="font-size:16px;">Set the gap length between the electrodes by adjusting the electrode support.</li>
                         <li style="font-size:16px;">Reinsert the corona cage into the flexi glass cylinder and tighten all the bolts properly to avoid any leakage.</li>
                         <li style="font-size:16px;">Now fill the vessel with required gaseous dielectric (or vacuum).</li>
                         <li style="font-size:16px;">Set the required pressure or vacuum level using valves.</li>
                         <li style="font-size:16px;">Switch ON the HT circuit and keep the motor increase/decrease switch at increase position and Increase the voltage uniformly till the breakdown occurs.</li>
                         <li style="font-size:16px;">Repeat above steps for various pressure and vacuum.</li>
                      </ul>
                    </div>  
                    <h1 class="text-center"><strong>Results and analysis: </strong></h1>
                    <h3><strong>Electrode type:</strong></h3>
                    <h3><strong>Electrode spacing:</strong></h3>
                    <table class="table table-hover table-bordered table-responsive table-condensed">
                      <thead>
                         <tr>
                            <th>Serial No</th>
                            <th>Electrode Gap Distance</th>
                            <th>Pressure Reading(mm of Hg)</th>
                            <th>Breakdown Voltage(kV)</th>
                         </tr>
                      </thead>
                     <tbody>
                         <tr>
                            <td>1</td>
                            <td>your value</td>
                            <td>your value</td>
                            <td></td>
                         </tr>
                         <tr>
                            <td>2</td>
                            <td>your value</td>
                            <td>your value</td>
                            <td></td>
                         </tr>
                         <tr>
                            <td>3</td>
                            <td>your value</td>
                            <td>your value</td>
                            <td>your value</td>
                         </tr>
                         <tr>
                            <td>4</td>
                            <td>your value</td>
                            <td>your value</td>
                            <td></td>
                         </tr>
                         <tr>
                            <td>5</td>
                            <td>your value</td>
                            <td>your value</td>
                            <td></td>
                         </tr>
                     </tbody>
                 </table>
                 
                 <h3>
                     <strong>Conclusion: </strong>
                 </h3>
                 <div>
                     <p style="font-size:16px">Write down your conclusion here</p>
                 </div>
                 <br>
                 <br>
                 <br>
                <h2><strong>To begin the experiment</strong><a href="/logtoexp2" class="btn btn-sm btn-warning" style="display:inline-block;margin-left:30px">Click HERE</a></h2>

    <!--========================================================================================================================================================================                -->
    <!--                                                     TRIAL VERSION BEGINS HERE-->
    
            
    
    
    
     
    <!--========================================================================================================================================================================               -->
             </div>
         </div>
         
     
</body>
<footer   class="text-center footer">
   <p>Developed and Maintained By High Voltage Lab Project Team, NIT Durgapur (2018-19)</p> 
</footer>
  
</html>