<% include ./partials/header %>
     <div class="container" style="background:#3FEEE6;margin-top:20px;margin-bottom:20px;border: 6px solid #17202A;align:justify">
         <h1 style="color:red;" class="text-center"><strong><u>Instructions for the Experiment</u></strong></h1>
         <br>
         <h2 style="" class="text-center"><strong>Power Frequency Voltage Withstand Test on High Voltage Line Materials</strong></h3>
         <div>
          <!--<ul style="list-style-type:none">-->
                 <strong style="letter-spacing: 5px;font-size: 20px;color: #111">Experiment No : </strong><p style="font-size:16px; display:inline-block">3</p>
                 <br>
                 <strong style="letter-spacing: 5px;font-size: 20px;color: #111">Title : </strong><p style="font-size:16px; display:inline-block">Measurement of Power Frequency Voltage Withstand Test on High Voltage Line Materials</p>
                 <br>
                 <strong style="letter-spacing: 5px;font-size: 20px;color: #111">Objective : </strong>
                 <strong style="letter-spacing: 5px;font-size: 20px;color: #111">Apparatus used : </strong><p style="font-size:16px; display:inline-block"></p>
           <!--</ul>           -->
                 <div>
                      <ol>
                         <li style="font-size:16px;">To perform the AC power frequency, withstand test on 11 kV high voltage line materials under
                         dry conditions.</li>
                         <li style="font-size:16px;">
                             To perform the AC power frequency, withstand test on 11 kV high voltage line materials under wet conditions.
                         </li>
                       </ol>
                  </div>
                   <table class="table table-hover table-bordered table-responsive table-condensed">
                      <thead>
                         <tr>
                            <th style="font-size: 15px;color: #111">Serial No</th>
                            <th style="font-size: 15px;color: #111">Name of Apparatus</th>
                            <th style="font-size: 15px;color: #111">Quantity</th>
                            <th style="font-size: 15px;color: #111">Specification</th>
                         </tr>
                      </thead>
                     <tbody>
                         <tr>
                            <td style="letter-spacing: 3px;font-size: 15px;color: #111">1</td>
                            <td>Variable AC testing transformer</td>
                            <td>1</td>
                            <td>(0-100) kV, 0.5 A</td>
                         </tr>
                         <tr>
                             <td style="letter-spacing: 3px;font-size: 15px;color: #111">2</td>
                             <td>AC Voltmeter </td>
                             <td>1</td>
                             <td>0-100kV, Digital-type</td>
                         </tr>
                         <tr>
                             <td style="letter-spacing: 3px;font-size: 15px;color: #111">3</td>
                             <td>Voltmeter</td>
                             <td>1</td>
                             <td>Range 0-100KV</td>
                         </tr>
                                                  <tr>
                             <td style="letter-spacing: 3px;font-size: 15px;color: #111">4</td>
                             <td>Disc Insulator</td>
                             <td>1</td>
                             <td>11kV</td>
                         </tr>
                           
                         <tr>
                             <td style="letter-spacing: 3px;font-size: 15px;color: #111">6</td>
                             <td>HT Bushing</td>
                             <td>1</td>
                             <td>11kV</td>
                         </tr>
                     </tbody>
                 </table>

                 <h3><strong>Theory:</strong></h3>
                   <div>
                        <p style="font-size:16px;">High voltage testing of electrical equipment requires two types of tests: (i) Type tests, and (ii) Routine test. 
                        Type tests involves quality testing of equipment at the design and development level i.e. samples of the product are taken and are tested when
                        a new product is being developed and designed or an old product is to be redesigned and developed whereas the routine tests are meant 
                        to check the quality of the individual test piece. This is carried out to ensure quality and reliability of individual test objects.</p>
                    </div>
                    <div>
                        <p style="font-size:16px;">High voltage tests include (i) Power frequency tests and (ii) Impulse tests. These tests are carried
                        out on all insulators. (i) 50% dry impulse flash over test; (ii) Impulse withstand test; (iii) Dry flash over and dry
                        one-minute test; (iv) Wet flash over and one-minute rain test (v) Temperature cycle test; (vi) Electro-mechanical test; 
                        (vii) Mechanical test; (viii) Porosity test; (ix) Puncture test; (x) Mechanical routine test.</p>
                    </div>
                    <div>
                        <p style="font-size:16px;"><strong>Schematic diagram of 11 kV Line materials under HV Test:</strong></p>
                    </div>
                   <div>
                       <p><img src="https://drive.google.com/uc?id=1b_G9JMyXEITpxXftUEcvlxavsrNWBtES" class="img-responsive"></p>
                   </div>
                   
                 
                    
                 <h3><strong>Procedure: </strong></h3>
                 <div>
                     <p style="font-size:16px;"><strong><u>11kV line materials:</u></strong></p>
                 </div>
                    <div>
                      <ul>
                         <li style="font-size:16px;">Connect the sample as per the circuit diagram.</li>
                         <li style="font-size:16px;">All the earth connections to be tightened. 
                         By placing earth rod on the HV terminals of the test equipment the existing changes if any is discharged.</li>
                         <li style="font-size:16px;">Dry and wet withstand (One-minute) test: The insulator, shall be mounted as specified and the prescribed voltage (corrected for ambient conditions) should be gradually brought up (at 
                         power frequency) and maintained for one minute under dry and wet conditions. Thee shall not be puncture or 
                         flash-over during the test.</li>
                         <li style="font-size:16px;">As per the IS 2071 and IS 2065 Part – II the power frequency voltage (28 kV for a period of one minute) is applied.</li>
                         <li style="font-size:16px;">During this test, the equipment is observed for any disruptive discharge and damage. If 
                         there, the test will indicate failure of insulator.</li>
                         
                      </ul>
                    </div>  
                    <h1 class="text-center"><strong>Results and analysis: </strong></h1>
                    <h3><strong>Tabulation</strong></h3>
                    <table class="table table-hover table-bordered table-responsive table-condensed">
                      <thead>
                         <tr>
                            <th>Specimen</th>
                            <th>Applied voltage(kV)</th>
                            <th>Time (min)</th>
                            <th>Symptoms</th>
                            <th>Result</th>
                         </tr>
                      </thead>
                     <tbody>
                         <tr>
                            <td>A</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                         </tr>
                         <tr>
                            <td>B</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                         </tr>
                         <tr>
                            <td>C</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                         </tr>
                         
                     </tbody>
                 </table>
                 
                 <h3>
                     <strong>Conclusion: </strong>
                 </h3>
                 <div>
                     <p style="font-size:16px">Write down your conclusion here</p>
                 </div>
                 <br>
                 <br>
                 <br>
                <h2><strong>To begin the experiment</strong><a href="/logtoexp3" class="btn btn-sm btn-warning" style="display:inline-block;margin-left:30px">Click HERE</a></h2>

    <!--========================================================================================================================================================================                -->
    <!--                                                     TRIAL VERSION BEGINS HERE-->
    
            
    
    
    
     
    <!--========================================================================================================================================================================               -->
             </div>
         </div>
         
     
</body>
<footer   class="text-center footer">
   <p>Developed and Maintained By High Voltage Lab Project Team, NIT Durgapur (2018-19)</p> 
</footer>
  
</html>