<% include ./partials/header %>
     <div class="container" style="background:#3FEEE6;margin-top:20px;margin-bottom:20px;border: 6px solid #17202A;align:justify">
         <h1 style="color:red;" class="text-center"><strong><u>Instructions for the Experiment</u></strong></h1>
         <br>
         <h2 style="" class="text-center"><strong>Testing of Oil</strong></h3>
         <div>
          <!--<ul style="list-style-type:none">-->
                 <strong style="letter-spacing: 5px;font-size: 20px;color: #111">Experiment No : </strong><p style="font-size:16px; display:inline-block">1</p>
                 <br>
                 <strong style="letter-spacing: 5px;font-size: 20px;color: #111">Title : </strong><p style="font-size:16px; display:inline-block">BDV of oil</p>
                 <br>
                 <strong style="letter-spacing: 5px;font-size: 20px;color: #111">Objective : </strong><p style="font-size:16px; display:inline-block">Study BDV Strength test of insulating oils using
                 100 KV motorized oil test set</p>
                 <br>
                 <strong style="letter-spacing: 5px;font-size: 20px;color: #111">Apparatus used : </strong><p style="font-size:16px; display:inline-block"></p>
           <!--</ul>           -->
                   <table class="table table-hover table-bordered table-responsive table-condensed">
                      <thead>
                         <tr>
                            <th style="font-size: 15px;color: #111">Serial No</th>
                            <th style="font-size: 15px;color: #111">Name of Apparatus</th>
                            <th style="font-size: 15px;color: #111">Quantity</th>
                            <th style="font-size: 15px;color: #111">Specification</th>
                         </tr>
                      </thead>
                     <tbody>
                         <tr>
                            <td style="letter-spacing: 3px;font-size: 15px;color: #111">1</td>
                            <td>Transformer</td>
                            <td>1</td>
                            <td>Step up, 1 KVA, 40-60 Hz</td>
                         </tr>
                         <tr>
                             <td style="letter-spacing: 3px;font-size: 15px;color: #111">2</td>
                             <td>Synchronous Motor</td>
                             <td>1</td>
                             <td>-</td>
                         </tr>
                         <tr>
                             <td style="letter-spacing: 3px;font-size: 15px;color: #111">3</td>
                             <td>Voltmeter</td>
                             <td>1</td>
                             <td>Range 0-100KV</td>
                         </tr>
                                                  <tr>
                             <td style="letter-spacing: 3px;font-size: 15px;color: #111">4</td>
                             <td>Test Cell</td>
                             <td>1</td>
                             <td>300-500 ml, made of glass or rigid oil resistant plastic</td>
                         </tr>
                                                  <tr>
                             <td style="letter-spacing: 3px;font-size: 15px;color: #111">5</td>
                             <td>Electrode</td>
                             <td>2</td>
                             <td>Sphere- Sphere, Brass made, Diameter in b/w 12.5-13mm</td>
                         </tr>
                         <tr>
                             <td style="letter-spacing: 3px;font-size: 15px;color: #111">6</td>
                             <td>Gauge</td>
                             <td>1</td>
                             <td>2.5 mm and 4 mm Thickness</td>
                         </tr>
                     </tbody>
                 </table>

                 <h3><strong>Theory:</strong></h3>
                    <ul>
                        <li style="font-size:16px;">The dielectric breakdown voltage of insulating liquid is a measure of its ability to withstand voltage stress without failure.</li>
                        <li style="font-size:16px;">It is the voltage at which breakdown occurs between two electrodes under prescribedtest conditions.</li>
                        <li style="font-size:16px;">The test serves primarily to indicate the presence of electrically conductive contaminants in the liquid, such as water,
                            dirt, moist cellulosic fibers, or particulate matter. However, a high dielectric breakdown voltage does not indicate the 
                            absence of all contaminants.</li>
                        <li style="font-size:16px;">Its application, however is restricted to oils having a kinematic viscosityof less than 50 centistokes at 27°C.</li>
                        <li style="font-size:16px;">Test for breakdown voltage shall be made in an atmosphere of less than 50 percent relative humidity.</li>
                    </ul>
                 <h3>
                     <strong>Test Cell</strong>
                 </h3>
                   <div>
                       <p><img src="https://drive.google.com/uc?id=1TsODZpdsgFk7zIBWvfbLXM1jZNJXKgjk" class="img-responsive"></p>
                   </div>
                   
                  <h3><strong>Electrodes:</strong></h3>  
                    <div>
                        <p style="font-size:16px;">The copper, brass, bronze or stainless steel polished electrodes shall be either spherical ( 12.5 mm to 13.0 mm diameter ) or 
                           spherical surfaced of the shape and dimensions. The electrodes shall be mounted on a horizontal axis and shall be 2.5 mm 
                           apart.The axis of the electrodes is immersed to a depth of approximately 40 mm.</p>
                    </div>
                 <h3><strong>Procedure: </strong></h3>
                    <div>
                      <ul>
                         <li style="font-size:16px;">The test consists in applying to the electrodes an increasing ac voltage of frequency 40to 60 Hz,
                         the rate of increase of the voltage being uniform and equal to approximately 2 kV/s, starting from zero 
                         up to the value producing breakdown.</li>
                         <li style="font-size:16px;">The circuit is opened manually if a transient spark (audible, or visible ) occurs between the electrodes
                          or automatically if an established arc occurs.</li>
                         <li style="font-size:16px;">In the latter case the tripping circuit shall break the voltage within 0.02 second. The
                         breakdown voltage is the voltage reached during the test at the time the first spark occurs 
                         between electrodes, whether it be transient or established.</li>
                         <li style="font-size:16px;">The test shall be carried out six times on the same cell filling.</li>
                         <li style="font-size:16px;">The first application of the voltage is made as quickly as possible after the cell has been filled, provided 
                         there are no longer anyair bubbles in the oil, or at the latest 10 minutes after filling. 
                         After each breakdown the oil is gently stirred so as to keep away the carbon particles between the electrodes, 
                         avoiding as far as possible the production of air bubbles.</li>
                         <li style="font-size:16px;">For the subsequent five tests, the voltage is re-applied one minute after the disappearance of any air bubbles that may
                         have been formed. If the observation of the disappearance of air bubbles is not possible, it is necessary to wait for
                         five minutes before a new breakdown test</li>
                      </ul>
                    </div>  
                    <h1 class="text-center"><strong>Results and analysis: </strong></h1>
                    <h3><strong>Tabulation</strong></h3>
                    <table class="table table-hover table-bordered table-responsive table-condensed">
                      <thead>
                         <tr>
                            <th>Serial No</th>
                            <th>Gap between electrodes</th>
                            <th>Breakdown Voltage(kV)</th>
                            <th>Average value</th>
                         </tr>
                      </thead>
                     <tbody>
                         <tr>
                            <td>1</td>
                            <td>your value</td>
                            <td>your value</td>
                            <td></td>
                         </tr>
                         <tr>
                            <td>2</td>
                            <td>your value</td>
                            <td>your value</td>
                            <td></td>
                         </tr>
                         <tr>
                            <td>3</td>
                            <td>your value</td>
                            <td>your value</td>
                            <td>your average value</td>
                         </tr>
                         <tr>
                            <td>4</td>
                            <td>your value</td>
                            <td>your value</td>
                            <td></td>
                         </tr>
                         <tr>
                            <td>5</td>
                            <td>your value</td>
                            <td>your value</td>
                            <td></td>
                         </tr>
                     </tbody>
                 </table>
                 <h3>
                     <strong>Analysis: </strong>
                 </h3>
                 <div>
                     <ul>
                         <li style="font-size:16px;">Breakdown Voltage obtained during each test.</li>
                         <li style="font-size:16px;">Average of breakdown voltage.</li>
                         <li style="font-size:16px;">Type of electrode</li>
                         <li style="font-size:16px;">Frequency of test voltage</li>
                         <li style="font-size:16px;">Oil temperature.</li>
                     </ul>
                 </div>
                 <h3>
                     <strong>Conclusion: </strong>
                 </h3>
                 <div>
                     <p style="font-size:16px">Write down your conclusion here</p>
                 </div>
                 <br>
                 <br>
                 <br>
                <h2><strong>To begin the experiment</strong><a href="/camera1" class="btn btn-sm btn-warning" style="display:inline-block;margin-left:30px">Click HERE</a></h2>

    <!--========================================================================================================================================================================                -->
    <!--                                                     TRIAL VERSION BEGINS HERE-->
    
            
    
    
    
     
    <!--========================================================================================================================================================================               -->
             </div>
         </div>
         
     
</body>
<footer   class="text-center footer">
   <p>Developed and Maintained By High Voltage Lab Project Team, NIT Durgapur (2018-19)</p> 
</footer>
  
</html>