<!DOCTYPE html>
<html>
<head>
	    <title>Project1</title>
	    <meta charset="utf-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">

	
</head>

<body>
     <div class="container" style="background:#D5DBDB;margin-top:20px;border: 6px solid #17202A">
         <h1 style="color:red;" class="text-center"><strong><u>Instructions for the Experiment</u></strong></h1>
         <br>
         <h2 style="" class="text-center"><strong>Testing of Oil</strong></h3>
         <div>
             <ol>
                 <li>Experiment No: 2 </li>
                 <li>Title: BDV of oil</li>
                 <li>Objective: Study BDV Strength test of insulating oils using 100 KV motorized oil test set</li>
                 <li>Apparatus Used :</li>



             </ol>
         </div>
         
     </div>  
</body>

</html>