<% include ./partials/header %>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <title>High Voltage Lab</title>-->
<!--  <meta charset="utf-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--  <style type="text/css">-->
<!--    .mybg{-->
<!--      margin-top: 20px; -->
<!--      border:5px solid #DEE6E9; -->
<!--      border-radius: 5px;-->
<!--      background-color: #DEE6E9;-->
<!--    }-->
<!--  </style>-->
<!--</head>-->
<!--<body>-->

<div class="container mybg" style="margin-top: 20px;border:5px solid #DEE6E9;border-radius: 5px;background-color: #DEE6E9;">
  
  <div class="media ">
    <div class="media-left">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d1/NIT_Durgapur_Logo.png/200px-NIT_Durgapur_Logo.png" class="media-object" style="width:50px">
    </div>
    <div class="media-body" >
      <h4 class="media-heading"></h4>
      <p  style="font-size:33px;"><strong>High Voltage Lab, National Institute of Technology Durgapur, WB.</strong></p>
    </div>
  </div>
  
  
 
</div>

 <div class="container" style="border:5px solid #FFFFFF;" >
     <div style="background-color: #25B2E7;color: #FFFFFF;border-radius: 5px;">
       <h2 style="padding: 10px;font-size: 28px" class="text-center"><strong>Study of Breakdown strength of Insulating oil using 100kV motorised oil test set</strong></h2>
     </div>

     <div class="row">
         <div class="col-md-12">
              <h1 style="color: #25B2E7;margin-bottom: 20px" class="text-center"><strong>Remote end Control Panel</strong></h1>
         </div>
     </div>


     <div class="row" >
         <div class="col-md-6">
             <img src="http://gdurl.com/29OE" style="max-width: 400px;max-height: 400px; border:8px solid black; border-radius: 8px;" class="img-responsive" />
         </div>

         <!--< div class="col-md-6" style="border:8px solid #25B2E7; border-radius: 8px; padding-bottom: 20px;padding-top: 20px">
           <div class="row" style="margin-bottom: 40px">

             <div class=col-md-4>
                 <button style="color: #FFFFFF; width:150px;height: 70px" class="btn-lg btn btn-primary">Main ON</button>
             </div>

             <div class=col-md-4>
                 <button style="color: #FFFFFF; width:150px;height: 70px" class="btn-lg btn btn-success">HT Start</button>
             </div>

             <div class=col-md-4>
                 <button style="color: #FFFFFF; width:150px;height: 70px" class="btn-lg btn btn-success">Increase Mode</button>
             </div>

           </div>
            <div class="row" style="margin-bottom: 40px">

              <div class=col-md-4>
                 <button style="color: #FFFFFF; width:155px;height: 70px" class="btn-lg btn btn-success">Increase Voltage</button>
              </div>

              <div class=col-md-4>
                 <button style="color: #FFFFFF; width:150px;height: 70px" class="btn-lg btn btn-danger">HT Stop</button>
              </div>

              <div class=col-md-4>
                 <button style="color: #FFFFFF; width:150px;height: 70px" class="btn-lg btn btn-success">Memory</button>
              </div>

            </div>

            <div class="row">

             <div class=col-md-4></div>
              
               <div class=col-md-4>
                 <button style="color: #FFFFFF; width:170px;height: 70px" class="btn-lg btn btn-success">Decrease Voltage</button>
               </div>

             <div class=col-md-4></div>
                 
            </div> -->
            <div class="col-md-6" style="position: relative;"><img src="http://gdurl.com/J5YF" style="height:430px;width: 300px" /></div>
          </div>

 </div>
<% include ./partials/footer %>
