<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ayan Banerjee</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css -->
    <!--<link type="text/css" rel="stylesheet" href="./static/materialize/css/materialize.min.css"  media="screen,projection"/>-->
    <!--<link rel="icon" type="image/png" href="static/images/favicon.png">-->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120952687-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-120952687-1');
    </script>
</head>
<body>
    <div class="external">
        <div class="outer">
            <span class="inner">Hi, I am Ayan</span>
        </div>     
    </div>
    <div id="particles"></div>
    <script type="text/javascript" src="/js/particlesjs/particles.js"></script>
    <script type="text/javascript" src = "/js/main.js"></script>
    <!--<script type="text/javascript" src = "./static/jquery-3.2.1.min.js"></script>-->
    <!--<script type="text/javascript" src="static/materialize/js/materialize.min.js"></script>-->
</body>
</html>
