<% include ./partials/headeraboutus %>

<div class="container" style="height:80vh">
    <h1>The instructions are included in <a href="https://drive.google.com/file/d/1GilFwaikzwFg8XDOOxNr02-IMcU8Q-mi/view?usp=sharing" target="_blank">THIS</a> doc</h1>
</div>
</body>
<footer class="text-center footer" style="height:14vh;bottom:0vh">
   <p>Developed and Maintained By High Voltage Lab Project Team, NIT Durgapur (2018-19)</p> 
</footer>
</html>
